.classLogInDiv{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(69, 69, 69);
}

.classLogInform {
    background-color: #FAFAFA;
    display: block;
    width: fit-content;
    padding: 2rem;
    margin: 0;
    box-shadow: 1px 1px 11px 12px rgba(0, 0, 0, 0.08);
    border-radius: .6rem;
}

.classLoginPassLabel{
  margin-top: 1rem;
}

.classLoginButton{
  background-color: rgb(69, 69, 69) !important;
  margin-top: 1rem;
  border: none !important;
  margin-right: 1rem;
} 

.classLogInP{
  color: #FF8C00;
  font-size: 3.5rem;
}