.teste{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.classLogInform {
    display: block;
    width: fit-content;
    padding: 2rem;
    margin: 0;
    box-shadow: 1px 1px 11px 12px rgba(0, 0, 0, 0.08);
    border-radius: .6rem;
  }

.classLoginPassLabel{
  margin-top: 1rem;
}

.classLoginButton{
  margin-top: 1rem;
}